<%- include('./partials/head.ejs') %>

<h1>Rentals Index</h1>

<ul class="rentals-list">
    <% for (let rental of rentals) { %>

        <li class="rental-card">
            <a class="rentals-info" href="<%= baseUrl %>/<%= rental.id %>">
                <img src="<%= rental.imageURL %>" />
            <%= rental.address %> 
            </a>

            <form action="<%= baseUrl %>/<%= rental.id %>/edit">
                <input type="submit" value="EDIT">
            </form>
            
            <form action="<%= baseUrl %>/<%= rental.id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE" />

            </form>


        </li>


    <% } %>

</ul>
<br>
<br>
<div>
    <a href="<%= baseUrl %>/new">Add a new Rental Property to review</a>
</div>
<br>

<%- include('./partials/footer.ejs') %>