<%- include('./partials/head.ejs') %>

<div class="show-information">
    <h1> Property: <%= rental.address %></h1>

    <img class="show-img" src="<%= rental.imageURL %>" alt="" />

    <h2>Real Estate: 
        <a href="<%= rental.linkURL %>" ><%= rental.realEstate %></a>
    </h2>

    <div class="information-block">
        <p><span class="bold"> Rooms: </span><%= rental.rooms %> </p>
        
        <p><span class="bold"> Bathrooms: </span><%= rental.bathrooms %></p>
        
        <p><span class="bold">Extras: </span>
        <%= rental.extras %> </p>
        
        <p><% if (rental.petFriendly) { %>
            This property is pet friendly.
            <% } else { %>
                This property is not pet friendly.
            <% } %></p>

            <p><span class="bold">Rental Price: </span><%= rental.rentPrice %></p>
            
        <p><span class="bold">Additional Information: </span>
        <%= rental.finalComments %></p>
        
    </div>
</div>


<%- include('./partials/footer.ejs') %>

